/* ---- Colors ---- */

//Primary Colors
$p-dark: #1D1D1D;
$p-normal: #272727;
$p-light: #464646;
$p-lightest: #939393;

//Secondary Colors
$s-dark: #00A1EC;
$s-normal: #00AEEF;
$s-light: #7BD0F5;
$s-lightest: #B0E2F9;

//Text Color
$text-color: #fff;

/* ---- Typography ---- */

//Font for H1 and Nav Links
$roboto: 'Roboto', 'sans-serif';

//Font for body and H2
$quick: 'Quicksand', 'sans-serif';
